llama-index-readers-file 
pymupdf
llama-index-llms-openai
aiohttp-retry           
azure-storage-blob      
celery                  
channels_redis          
daphne                  
django-redis            
djangorestframework     
eventlet                
exceptiongroup          
faiss-cpu               
fastapi                 
gunicorn                
httptools               
icecream                
langchain-chroma        
langchain-cohere        
langchain-groq          
langchain-milvus        
langchain-pinecone      
langchain-weaviate      
llama-index             
loguru                  
openpyxl                             
pipreqs
PyMuPDF                 
pyOpenSSL               
PySocks                 
python-multipart        
rank-bm25               
service-identity        
tinycss2                
unstructured            
watchfiles              
